<form (ngSubmit)="efectuarPagamento(efectuaPag)" #efectuaPag="ngForm">
    <h3 style="text-align:center;">Simular Pagamento</h3>
  <div class="example-container">
      <mat-form-field>
        <input matInput type="number" placeholder="Referência" name="codigoRerecence" [(ngModel)]="dadosPagamento.codigoRerecence" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Valor" name="valor" [(ngModel)]="dadosPagamento.valor" required>
      </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-flat-button color="primary" type="submit" >Confirmar</button>
    <label class="aviso">* campos obrigátorios</label>
  </div>
  <div class="example-button-row top">
    <label class="observacao">Obs.: Toda e qualquer operação de pagamento realizada, é apenas uma simulação do que realmente acontece num ATM.</label>
  </div>
</form>
