.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.example-container > *, .example-button-row {
  width: 60%;
  margin-left: 20%;
}
.aviso {
  color: rgba(125, 125, 125, 0.5);
  float: right;
}
