/* You can add global styles to this file, and also import other style files */
@import 'intl-tel-input/build/css/intlTelInput.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-success {
  background-color: white !important;
  color: black;
}
.alert-danger {
  background-color: white !important;
  color: red;
}
